<!-- Client code derived from:
    https://medium.com/@etiennerouzeaud/a-simple-crud-application-with-javascript-ebc82f688c59 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventorify</title>
    <style>
        input[type='submit'],
        button,
        [aria-label] {
            cursor: pointer;
        }

        #spoiler {
            display: none;
        }

        #add-product-form,
        #save-edit {
            display: flex;
            flex-direction: column;
            width: 150px;
        }

        * {
            margin: 2px;
        }

        td {
            padding: 5px;
        }
    </style>
</head>
<body>
    <h1>All Products In Database
        <a href="/api/product" target="_blank">(/api/product)</a>:
    </h1>
    <button onClick="downloadCSV()">Export to CSV</button>

    <div id="spoiler" role="aria-hidden">
        <form action="javascript:void(0)" method="POST" id="save-edit">
            <input type="text" id="edit-product-name" placeholder="Name">
            <input type="text" id="edit-product-description" placeholder="Description">
            <input list="edit-cities" id="edit-product-city" placeholder="City">
            <datalist id="edit-cities">
                <option value="Vancouver">
                <option value="Toronto">
                <option value="Calgary">
                <option value="Waterloo">
                <option value="Seattle">
            </datalist>
            <input type="number" step="0.01" id="edit-product-price" placeholder="Price per Item ($)">
            <input type="number" id="edit-product-units" placeholder="Units">
            <input type="submit" value="Edit" />
            <a onclick="closeInput()" aria-label="close">
                &#10006;
            </a>
        </form>
    </div>

    <table border=1 frame=void rules=all>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>City</th>
            <th>Price</th>
            <th>Num. in Stock</th>
            <th>Weather</th>
        </tr>
        <tbody id="inventory">
        </tbody>
    </table>

    <h2>Add products to inventory:</h2>
    <form action="javascript:void(0)" method="POST" onSubmit="addProduct()" id="add-product-form">
        <input type="text" id="add-product-name" placeholder="Name">
        <input type="text" id="add-product-description" placeholder="Description">
        <input list="cities" id="add-product-city" placeholder="City">
        <datalist id="cities">
            <option value="Vancouver">
            <option value="Toronto">
            <option value="Calgary">
            <option value="Waterloo">
            <option value="Seattle">
        </datalist>
        <input type="number" step="0.01" id="add-product-price" placeholder="Price per Item ($)">
        <input type="number" id="add-product-units" placeholder="Units">
        <input type="submit" value="Create Item">
    </form>

    <script>
        fetch(`${window.location.origin}/api/product`)
            .then(res => {
                return res.json()
            })
            .then(res => {
                getAllProducts(res.data)
            })

        function getAllProducts(products) {
            let el = document.getElementById('inventory')
            let data = ''
            if (products.length > 0) {
                for (i = 0; i < products.length > 0; i++) {
                    data += '<tr>'
                    data += '<td>' + products[i].name + '</td>'
                    data += '<td>' + products[i].description + '</td>'
                    data += '<td>' + products[i].city + '</td>'
                    data += '<td>' + products[i].price + '</td>'
                    data += '<td>' + products[i].stock + '</td>'
                    data += '<td>' + products[i].weather + '</td>'
                    data += '<td><button onclick="editProduct(' + i + ', \''
                        + products[i].name + '\', \''
                        + products[i].description + '\', \''
                        + products[i].city + '\', \''
                        + products[i].price + '\', \''
                        + products[i].stock + '\', \''
                        + products[i].weather + '\''
                        + ')">Edit</button></td>'
                    data += '<td><button onclick="deleteProduct(' + i + ', \''
                        + products[i].name + '\''
                        + ')">Delete</button></td>'
                    data += '<td>' +
                        `<a href=/api/product/${products[i].name} target="_blank">` +
                        `<p>/api/product/${products[i].name}</p>` +
                        `<a/>` +
                        '</td>'
                    data += '</tr>'
                }
            }
            return el.innerHTML = data
        }

        function editProduct(
            item,
            name,
            description,
            city,
            price,
            stock
        ) {
            let nameEl = document.getElementById('edit-product-name')
            let descEl = document.getElementById('edit-product-description')
            let cityEl = document.getElementById('edit-product-city')
            let priceEl = document.getElementById('edit-product-price')
            let unitsEl = document.getElementById('edit-product-units')
            nameEl.value = name
            descEl.value = description
            cityEl.value = city
            priceEl.value = price
            unitsEl.value = stock

            document.getElementById('spoiler').style.display = 'block'

            document.getElementById('save-edit').onsubmit = function () {
                const data = {
                    name: nameEl.value ? nameEl.value : name,
                    description: descEl.value ? descEl.value : description,
                    price: priceEl.value ? priceEl.value : price,
                    city: cityEl.value ? cityEl.value : city,
                    stock: unitsEl.value ? unitsEl.value : stock,
                }
                fetch(`${window.location.origin}/api/product/${name}`, {
                    method: 'PUT',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                    .then(res => {
                        window.location.reload()
                    })
                    .catch(error => {
                        console.error('There was an error!', error)
                    })
            }
        }

        function deleteProduct(item, name) {
            fetch(`${window.location.origin}/api/product/${name}`, {
                method: 'DELETE'
            })
                .then(res => {
                    window.location.reload()
                })
                .catch(error => {
                    console.error('There was an error!', error)
                })
            getAllProducts(products)
        }

        function addProduct() {
            const name = document.getElementById('add-product-name').value
            const description = document.getElementById('add-product-description').value
            const city = document.getElementById('add-product-city').value
            const price = document.getElementById('add-product-price').value
            const stock = document.getElementById('add-product-units').value

            const data = {
                name: name,
                description: description,
                price: price,
                city: city,
                stock: stock
            }

            fetch(`${window.location.origin}/api/product/`, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(res => {
                    window.location.reload()
                })
                .catch(error => {
                    console.error('There was an error!', error)
                })
        }

        function closeInput() {
            document.getElementById('spoiler').style.display = 'none'
        }

        function downloadCSV() {
            fetch(`${window.location.origin}/api/product`)
                .then(res => res.json())
                .then(json => {
                    const data = json.data
                    const setVal = (key, val) => (
                        val === null ? '' : val
                    )
                    const headerFields = Object.keys(data[0])
                    let csv = [
                        headerFields.join(','),
                        ...
                        data.map(row => (
                            headerFields.map(field => (
                                JSON.stringify(row[field], setVal)
                            ))
                        ))
                    ].join('\r\n')
                    console.log(csv)

                    const download = document.createElement('a')
                    download.setAttribute('href', `data:text/csv;charset=utf-8,${encodeURIComponent(csv)}`)
                    download.setAttribute('download', 'product_data.csv')
                    download.click()
                })
        }
    </script>
</body>
</html>